<%= form_for(@habitant) do |f| %>
  <% if @habitant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@habitant.errors.count, "error") %> prohibited this habitant from being saved:</h2>

      <ul>
      <% @habitant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :mail_address %><br>
    <%= f.text_field :mail_address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
